<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Data</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Enter Stock Criteria</h1>
    <form id="stockForm">
        <input type="text" id="stockInput" placeholder="Enter stock list or symbol (e.g., div, growth, aapl)">
        <button type="submit">Get Stocks</button>
    </form>
    <script>
        document.getElementById('stockForm').onsubmit = function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            
            fetch('/start_process', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                window.location.href = '/results';
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        };
    </script>
</body>
</html>
